.krispyKreme {
  background-color: #ff4d4d;
  border: 1px solid #ff0f4d;
}

.dunkinDonuts {
  background-color: #9d61cf;
  border: 1px solid #9d6fff;
}

.jco {
  background-color: #fff94a;
  border: 1px solid #fff800;
}

.misterDonut {
  background-color: #87fff9;
  border: 1px solid #87ffd1;
}
